.hero
    .hero-container
        .container
            a(href="https://ituk.ee").logo-link
                img(src="assets/img/icon-white.svg")
            .hero-text-wrapper
                .hero-text
                    h1 Hei!
                    p.subtitle
                        | Meil on väga hea meel, et soovid ITÜKiga liituda!
                        | Palun täida ära allolev vorm, misjärel saame sinuga ise ühendust võtta!
form.container.signup-form-container(ng-submit="submit()" novalidate name="form")
    .row
        .col-md-8.form-group
            label.control-label(for="name") Nimi
            input.form-control(id="name" name="name" ng-model="application.name" required)
        .col-md-4.form-group(ng-class="{ 'has-error': form.personalCode.$invalid && form.personalCode.$dirty }")
            label.control-label(for="personalCode") Isikukood
            input.form-control(id="personalCode" ng-model="application.personalCode" required type="text"
                               ng-pattern="patterns.personalCode" name="personalCode")
    .row
        .col-md-8.form-group(ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty }")
            label.control-label(for="email") E-mail
            input.form-control(id="email" ng-model="application.email" required type="email" name="email")
        .col-md-4.form-group(ng-class="{ 'has-error': form.studentCode.$invalid && form.studentCode.$dirty }")
            label.control-label(for="studentCode") Üliõpilaskood
            input.form-control(id="studentCode" ng-model="application.studentCode" required type="text"
                               ng-pattern="patterns.studentCode" name="studentCode" placeholder="123456ABCD")
    .row.text-center
        button.btn-primary.btn(type="submit" ng-disabled="form.$invalid"): span.submit-text Saada
    .row
        p.col-md-12.text-small.text-muted
            | Sinu isikuandmeid ei edastata kolmandatele osapooltele. Sinu andmed on vaid vajalikud registreerimaks sind
            | TTÜ IT-teaduskonna üliõpilaskogu liikmeks.
