.container.mentor-select
    a(href="https://ituk.ee").logo-link
        img(src="assets/img/icon-purple.svg")
    div.text-center.loading-container(ng-if="loading")
         .loading-spinner
    div(ng-if="!loading && application.mentor == null")
        span(ng-if="origin == 'apply'")
            h1.text-center Sinu avaldus on salvestatud!
            h2.text-center.no-bottom-margin
                | Iga uus liige saab valida endale mentori, kes aitab tal ITÜKi eluga tutvuda.
            h2.text-center.no-top-margin
                | Kui sa kohe ei oska valikut teha, siis pole hullu! Sinu e-mailile tuli kiri koos lingiga,
                |  mille kaudu jõuad ka hiljem siia tagasi.
        span(ng-if="origin != 'apply'")
            h1.text-center Hei, {{application.name}}
            h2.text-center.no-bottom-margin
                | Iga uus liige saab valida endale mentori, kes aitab tal ITÜKi eluga tutvuda.
            h2.text-center.no-top-margin
                | Palun vali Sinagi endale mentor!
        .row.mentors
            .col-lg-4.col-sm-6.col-xs-12(ng-repeat="mentor in mentors")
                .mentor
                    img.mentor-photo(data-ng-src="{{ apiLocation + '/mentor/' + mentor.id + '/picture' }}")
                    .mentor-info
                        p.mentor-name {{mentor.user.firstName}} {{mentor.user.lastName}}
                        p.mentor-curriculum {{mentor.user.curriculum}}
                        p.mentor-description {{mentor.text}}
                        a.gif-btn(ng-click="openGifs[mentor.id] = true" ng-if="openGifs[mentor.id] != true") Lemmik GIF +
                        a.gif-btn(ng-click="openGifs[mentor.id] = false" ng-if="openGifs[mentor.id] == true") Lemmik GIF -
                        img.mentor-gif(ng-if="openGifs[mentor.id] == true"
                                ng-src="{{mentor.gif}}")
                        p.mentor-quote: em {{mentor.quote}}
                        a.btn.btn-primary.btn-block(ng-click="select(mentor.id)") Vali
    div(ng-if="!loading && application.mentor != null")
        h1.text-center Sinu mentori valik on salvestatud!
        h2.text-center.no-bottom-margin Sinu mentorit on su valikust teavitatud.
        h2.text-center.no-top-margin Nüüd pole midagi muud teha kui ootama jääda, mentor võtab Sinuga ise kahe nädala jooksul ühendust!
        .row.mentors
            .col-lg-4.col-sm-6.col-xs-12
                .mentor.mentor-selected
                    img.mentor-photo(data-ng-src="{{application.mentor.picture}}")
                    .mentor-info
                        p.mentor-name {{application.mentor.user.name}}
                        p.mentor-curriculum {{application.mentor.curriculum}}
                        p.mentor-description {{application.mentor.text}}
                        a.gif-btn(ng-click="openGifs[mentor.id] = true" ng-if="openGifs[mentor.id] != true")
                            | Lemmik GIF +
                        a.gif-btn(ng-click="openGifs[mentor.id] = false" ng-if="openGifs[mentor.id] == true")
                            | Lemmik GIF -
                        img.mentor-gif(ng-if="openGifs[mentor.id] == true" ng-src="{{application.mentor.gif}}")
                        p.mentor-quote: em {{application.mentor.quote}}
