@body-bg: #FFF;
@icon-font-path: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/fonts/";
@fa-font-path: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts";
// @border-radius-base: 0;
// @border-radius-small: 0;
@font-family-base: 'Raleway', sans-serif;

// Text
@font-size-h1: 27pt;
@text-color: #1d1d1d;
@text-muted: #656565;

// Buttons
@btn-primary-bg: #870042;
@btn-primary-border: transparent;
@btn-primary-color: @text-color;
@btn-default-bg: #fff;
@btn-default-border: @btn-primary-bg;
@btn-default-color: @btn-default-border;


// Links
@link-color: @btn-primary-bg;
@link-hover-color: @btn-primary-bg;